.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(138, 138, 138, 0.8);
}

.modal__item {
    position: fixed;
    display: block;
    width: 100%;    
    max-width: 400px;
    margin: 0;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.modal--close {
    display: none !important;
}

.add__btn-box {
    position: fixed;
    top: 90%;
    right: 5%;
}

.add__btn {
    width: 150px;
    padding: 20px;
    background: #01384d;
    border-radius: 8px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.add__btn:hover {
    opacity: 0.5;
}

.edit__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    background: rgb(236, 175, 6);
    border-radius: 8px;
}

.app__input{
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    color: #01384d;
}

.app__input:hover{
    border: 2px solid #0496ff;
}

.app__form-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.app__input--width{
    width: 100%;
    max-width: 160px;
}